NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3137
ADMIN_EMAIL=
ADMIN_PASSWORD=
WHATSAPP_NUMBER=
WHATSAPP_DEFAULT_MESSAGE=
NEXT_PUBLIC_HOME_HERO_BANNER_URL=/originally-toffee-hero.webp
NEXT_PUBLIC_HOME_HERO_MOBILE_BANNER_URL=/originally-toffee-hero-mobile.png
NEXT_PUBLIC_HOME_HERO_BANNER_ALT=Colecao Toffee Originally Pet
NEXT_PUBLIC_HOME_HERO_BANNER_HREF=#produtos
